@{
    ViewData["Title"] = "Home Page";
}

<div class="text">
    <h1 class="display-4">Welcome Page</h1>
    Manage my <a asp-action="ViewCourses" asp-controller="Course">cources</a> or <a asp-action="GetAddCourseRequest" asp-controller="Course">Add a new course.</a>
</div>
